.button_add_to_cart {
	font-size: 13px;
    color: #fff;
    background: #1d1d1d;
    text-decoration: none;
    position: relative;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
    padding: .7em 1em;
    outline: none;
    letter-spacing: 1px;
    font-weight: 600;
}
