.type_select {
	margin-top: 23.5px;
	outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f6f9fb;
    width: 96.5%;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #ddd;
}

