#register-dp{
    min-width: 250px;
    margin : 15px 15px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#register-dp .help-block{
    font-size:12px    
}
#register-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#register-dp .social-buttons{
    margin:12px 0    
}
#register-dp .social-buttons a{
    width: 49%;
}
#register-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #register-dp{
        background-color: inherit;
        color: #fff;
    }
    #register-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
@media(max-width:375px){
    #register-dp{
        display :none;
    }
}

/*-- register page --*/

.register_grid_right input[type="text"], .register_grid_right input[type="password"], .register_grid_right input[type="email"]  {
    outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f6f9fb;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #ddd;
    margin-top: 15px;
}
.register_grid_right input[type="text"]:nth-child(2), .register_grid_right input[type="password"], .register_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.register_grid_right input[type="submit"],.register_grid_right input[type="reset"] {
    outline: none;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    background: #000000;
    width: 23%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 10em;
    margin-top: 10px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
}

.register_select {
	margin-top: 14px;
	outline: none;
    padding: 15px 15px;
    font-size: 14px;
    color: #777;
    background: #f6f9fb;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border: 1px solid #ddd;
}

.register_grid_right_reg_btn {
    outline: none;
    padding: 15.75px 48px;
    font-size: 14px;
    color: #fff;
    background: #000000;
    width: 23%;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 0.7em;
    margin-top: 10px;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 700;
}

.registers-left h4 {
    color: #444;
    font-size: 1em;
    margin-bottom: .5em;
    letter-spacing: 1px;
    font-weight: 700;
}
.register-left p {
    font-size:1em;
    letter-spacing: 1px;
}
.register-text a {
    color:#888;
}
.register-text a:hover{
    color: #fb383b;
}
.register-left span.fa {
    width: 50px;
    height: 50px;
    background: none;
    text-align: center;
    font-size: 1.2em;
    line-height: 2.4em;
    border: 4px solid #383737;
    color: #fb383b;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
}

.register_grid_right h6,.register-left h6 {
    font-size: 1.2em;
    color: #ff322e;
    margin-bottom: 1.5em;
    padding-left: 16px;
    letter-spacing: 1px;
    font-weight: 700;
}
/*--//register--*/

/*--responsive--*/
@media(max-width:991px) {
    .register_grid_right textarea {
		min-height: 150px;
		margin: 1em 0em;
		width: 98.3% !important;
		resize: none;
	}
	.register_left_grid {
		padding-left: 0;
	}
	.register_grid_right input[type="submit"], .register_grid_right input[type="reset"] {
		outline: none;
		padding: 15px 0;
		font-size: 14px;
		width: 48.7%;
		border: none;
		letter-spacing: 2px;
		margin-left: 0em;
	}
	.register-left {
		margin-top: 2em;
	}
}
/*--//responsive--*/

